<div class="modal-header">
  <h3 class="modal-title">Cita Programada!</h3>
</div>
<div class="modal-body">
  <p>Acción:
  <pre>{{ vm.action }}</pre>
  </p>
  <p>Event:
  <pre>{{ vm.event | json }}</pre>
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="$close()">Cerrar</button>
</div>
